<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>E-education</title>	
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>
    <div class="container">
	{% block body %}{% endblock %}
	</div>

    <script src="/static/js/jquery-3.7.1.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

<script>
     window.onload = function() {
            document.body.style.display = "block";
        }
</script>
</body>

</html>
